@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Raleway:400,700,900');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'PT Serif', serif;
	font-size: 18px;
	background-color: #fff;
	color: #333;
}

h1 {
	font-size: 22px;
}

header {
	background-color: #f3f3f3;
	padding: 10px 0 0 0;
	border-bottom: 2px solid #333;
}

p {
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

ul, ul ul {
	margin: 0;
	padding: 0;
}

input[type=text], input[type=password], button, input[type=submit], label {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #c5993d;
	border: none;
	position: relative;
	border-radius: 0;
}

.button:before, button:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: #c5993d #333;
}

.button:after, button:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: #333 #c5993d;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	border: none;
}

label {
	font-size: 14px;
	line-height: 36px;
	text-transform: uppercase;
}

.center-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.clearboth {
	clear: both;	
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}

.container {
	width: 700px;
	margin: 0 auto;
}

#content {
	margin: 10px 0;
}

#content {
	padding: 0 80px;
}

h1.logo {
	float: left;
	margin-right: 20px;
}

div.menu {
	float: left;
}

ul.menu {
	font-family: 'Raleway', sans-serif;
}

ul.menu li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
}

ul.menu a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	padding: 10px 40px;
	display: inline-block;
	font-size: 14px;
}

ul.submenu a {
	font-size: 12px;
}

ul.menu a::after {
	content: "";
	border-right: 2px solid #333;
	width: 2px;
	height: 6px;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 0;
}

ul.menu li:last-child a::after {
	border: none;
}

ul.menu .active a,
ul.menu a:hover {
	font-weight: 900;
}

ul.menu > li > a {
	border-bottom: 1px solid #333;
}

.post-wrapper {
	margin-bottom: 40px;
}

.post-wrapper h2 {
	text-align: center;
	font-size: 48px;
	margin: 10px 0;
	font-weight: normal;
}

.post-wrapper .author {
	text-align: center;
	font-size: 12px;
}

.post-wrapper .author .name,
.post-wrapper .author .date {
	font-weight: bold;
}

.post-wrapper .body {
	margin: 10px 0;
	line-height: 120%;
}

#comments {
	border-top: 1px solid #333;
	padding: 20px 80px;
}

#comments h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 10px 0;
}

.comment .avatar {
	width: 60px;
	height: 60px;
	border: 1px solid #333;
	background-color: #f3f3f3;
	margin: 5px 20px 0 0;
}

.comment .name {
	font-size: 20px;
}

.comment div.title {
	font-size: 12px;
	margin-bottom: 10px;
}

.comment span.title,
.comment span.date {
	font-weight: bold;
}

.comment .body {
	font-size: 16px;
}

.dialog {
	background: #333;
	position: relative;
	padding: 20px 40px;
}

.dialog:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 20px 20px 0;
	border-style: solid;
	border-color: #333 #fff;
}

.dialog:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 20px 20px 0;
	border-style: solid;
	border-color: #fff #333;
}

.dialog label {
	color: #fff;
	text-align: right;
}

.login-dialog {
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.login-dialog .dialog {
	width: 500px;
}

.login-dialog form {
	margin: 20px 0;
}

.login-dialog input[type=text],
.login-dialog input[type=password] {
	border-radius: 0;
	background-color: #333;
	color: #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 2px;
}

.login-dialog input[type=text]:focus,
.login-dialog input[type=password]:focus {
	border-color: #c5993d;
}