@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:400,700');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'PT Serif', serif;
	font-size: 18px;
	background-color: #fff;
	color: #333;
}

header {
	background-color: #f3f3f3;
	padding: 10px 0 0 0;
	border-bottom: 2px solid #333;
}

h1.logo {
	margin: 0;
}

h1.logo a {
	display: block;
}

p {
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #c5993d;
}

a.ui {
	text-transform: uppercase;
	font-weight: bold;
}

.ui {
	font-family: 'Roboto', sans-serif;
}

.small {
	font-size: 60%;
}

ul, ul ul {
	margin: 0;
	padding: 0;
}

input[type=text], input[type=password], .button, button, input[type=submit], label, select {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #c5993d;
	position: relative;
	height: 30px;
	line-height: 30px;
	margin-bottom: 1px;
	border: none;
	box-shadow: inset 0 -6px 12px -6px #333;
	padding: 0 10px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #fff;
	background-color: #b5892d;
}

.button.warning,
button.warning,
input[type="submit"].warning,
input[type="reset"].warning,
input[type="button"].warning {
	background-color: #C0392B;
	border: 1px solid #ddd;
	color: #FFF;
}

.button.warning:hover,
button.warning:hover,
input[type="submit"].warning:hover,
input[type="reset"].warning:hover,
input[type="button"].warning:hover,
.button.warning:focus,
button.warning:focus,
input[type="submit"].warning:focus,
input[type="reset"].warning:focus,
input[type="button"].warning:focus {
	color: #fff;
	background-color: #B0291B;
}

input[type=text],
input[type=password],
select {
	border-bottom-width: 3px;
	box-shadow: inset 0 -6px 12px -6px #ddd;
}

.cke_chrome {
	border-bottom-width: 3px!important;
	border-radius: 4px;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus {
	border-bottom-width: 3px;
	border-color: #c5993d;
}

label {
	font-size: 14px;
	line-height: 36px;
	text-transform: uppercase;
}

.center-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.clearboth {
	clear: both;	
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}

.container {
	width: 700px;
	margin: 0 auto;
}

h1.logo {
	float: left;
	margin-right: 20px;
}

div.menu {
	float: left;
}

ul.menu {
	font-family: 'Roboto', sans-serif;
}

ul.menu li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	margin: 1rem 0;
}

ul.menu a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	padding: 10px 30px;
	display: inline-block;
	font-size: 14px;
	letter-spacing: .3px;
	font-weight: 400;
}

ul.submenu a {
	font-size: 12px;
}

ul.menu a::after {
	content: "";
	border-right: 2px solid #333;
	width: 2px;
	height: 6px;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 0;
}

ul.menu li:last-child a::after {
	border: none;
}

ul.menu .active a,
ul.menu a:hover {
	font-weight: 900;
	letter-spacing: 0;
}

.post-wrapper {
	margin-bottom: 40px;
}

.post-wrapper h2 {
	text-align: center;
	font-size: 48px;
	margin: 10px 0;
	font-weight: normal;
}

.post-wrapper .author {
	text-align: center;
	font-size: 12px;
}

.post-wrapper .author .name,
.post-wrapper .author .date {
	font-weight: bold;
}

.post-wrapper .body {
	margin: 10px 0;
	line-height: 120%;
}

#comments {
	border-top: 1px solid #333;
	padding: 20px 80px;
}

#comments h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 10px 0;
}

.comment .avatar {
	width: 60px;
	height: 60px;
	border: 1px solid #333;
	background-color: #f3f3f3;
	margin: 5px 20px 0 0;
}

.comment .name {
	font-size: 20px;
}

.comment div.title {
	font-size: 12px;
	margin-bottom: 10px;
}

.comment span.title,
.comment span.date {
	font-weight: bold;
}

.comment .body {
	font-size: 16px;
}

.dialog {
	background: #333;
	position: relative;
	padding: 20px 40px;
	border-radius: 10px;
}

.dialog label {
	color: #fff;
	text-align: right;
}

.vert-center {
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.login-dialog .dialog {
	width: 500px;
}

.login-dialog form {
	margin: 20px 0;
}

.login-dialog input[type=text],
.login-dialog input[type=password] {
	border-color: #f3f3f3;
	background-color: #333;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #fff;
	box-shadow: none;
}

.login-dialog input[type=text]:focus,
.login-dialog input[type=password]:focus {
	border-color: #c5993d;
}

.actions {
	margin: 10px 0;
}

.actions > * {
	display: inline-block;
}

/* Windows */
.window {
	display: table;
	width: 100%;
	height: 100%;
}

.window.float {
	width: auto;
	height: auto;
}

.window .content {
	padding: 0 20px;
}

.pane {
	display: table-cell;
	border-right: 2px solid #f3f3f3;
	border-bottom: 2px solid #f3f3f3;
	vertical-align: top;
	position: relative;
}

.pane-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	z-index: 1;
}

.pane:first-child {
	border-right: none;
}

.pane-invert {
	background-color: #333;
	border-bottom: none;
}

.pane-header {
	background-color: #f3f3f3;
	text-align: center;
	margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	height: 50px;
	line-height: 50px;
	box-shadow: inset 0 -6px 12px -6px #e0e0e0;
	z-index: 2;
	position: relative;
}

.pane .content {
	padding: 20px;
	margin-top: 50px;
}

.pane .content h1 {
	margin: 0;
	line-height: 1;
}

.pane .content .header {
	margin-bottom: 2rem;
}

.pane .selectable-items {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
}

.pane .selectable-items a.action {
	text-transform: uppercase;
	font-weight: bold;
}

.pane .selectable-items h2 {
	font-size: 18px;
	margin: 0;
	font-weight: bold;
	line-height: 18px;
}

.pane .selectable-items a {
	color: #333;
	display: block;
	padding: 10px 20px;
}

.pane .selectable-item {
	margin: 0;
	line-height: 1;
	position: relative;
}

.pane .selectable-item.active,
.pane .selectable-item:hover {
	background-color: #c5993d;
	box-shadow: inset 0 -6px 12px -6px #a5791d;
}


.pane .selectable-item.active a:after {
	content: "\f138";
	font-family: "Font Awesome\ 5 Free";
	font-weight: 900;
	color: #fff;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -9px;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.pane .selectable-item-action.active a:after,
.pane .selectable-item-action:hover a:after {
	content: '';
}

.pane .selectable-item.active a,
.pane .selectable-item:hover a {
	color: #fff;
}

.pane.main {
	width: 70%;
}

/* Sidebar */
.pane-sidebar {
	width: 200px;
}

.sidebar {
	padding: 0 20px;
	margin-top: 50px;
}

.sidebar i {
	width: 20px;
	text-align: center;
}

.pane-sidebar .pane-header {
	background: none;
	border: none;
	box-shadow: none;
	text-align: center;
	background-color: transparent;
}

.pane-sidebar .pane-header a {
	display: inline-block;
	border-bottom: 1px dotted #666;
	padding: 0 10px;
}

.pane-sidebar .pane-header a img {
	vertical-align: middle;
}

.sidebar .nav-bar {
	list-style-type: none;
}

.sidebar .nav-bar li {
	margin: 0;
}

.sidebar .nav-bar li a {
	padding: 1rem 0;
	display: block;
	letter-spacing: 1px;
}

.sidebar .nav-bar .active,
.sidebar .nav-bar li:hover {
	background-color: #b5892d;
	margin: 0 -20px;
	padding: 0 20px;
	box-shadow: inset 0 -6px 12px -6px #95690d;
}

.sidebar .nav-bar .active a,
.sidebar .nav-bar li:hover a {
	font-weight: bold;
}

.sidebar a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}

.cke_dialog_contents_body:last-child {
	padding: 9px 10px 5px 10px;
}